
body {
  background-color: #393E46 !important;
}

.head-line
{
  height: 500%;
}

h1
{
  font-size: 9rem !important;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  text-align: center;
}

.container
{
 padding: 3% 15%;
}

.second
{
  height: 600%;
}

.mb-sm-5
{
  margin-bottom: 6rem;
}


.dice1
{
  display: inline-block;
  text-align: center;
}

.dice2
{
  display: inline-block;
  text-align: center;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width:200px;
  /* margin-right: 0px; */
}



footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
